MONGODB_URI=
JWT_SECRET=
PORT=5000
JWT_EXPIRES_IN=7d
ADMIN_MIGRATION_SECRET=
BACKEND_PUBLIC_URL=
PCLOUD_TOKEN=
PCLOUD_FOLDER_PROFILE_PICTURES=32047901260
PCLOUD_FOLDER_DOCUMENTS=32047901924
PCLOUD_PUBLINK_CODE_PROFILE_PICTURES=kZ869N5ZRQsAHSzjpPzCLtIkEULbbhPHX3YV
PCLOUD_PUBLINK_CODE_DOCUMENTS=kZY69N5Zv30UMGNRCYu4Ck7AwkKTkYh5sSsV
PCLOUD_CACHE_DIR=./cache/files
PCLOUD_CACHE_TTL=3600000
